*{
    margin: 0;
    padding: 0;
}
h1{
    color: #fff;
}
.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
.fundo{
    background-image: linear-gradient(45deg, #2b4d69, #3f5a74);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: #2e2e2e;
    border: none;
    color: #fff;
    margin: 3px;
}
.botao:hover{
    background-color: black;
}
#resultado{
    width: 207px;
    height: 30px;
    margin: 5px;
    background-color: #fff;
    font-size: 25px;
    color: #000;
    text-align: right;
    padding: 5px;
}